*{
    margin: 0px;
    padding: 0px;
}
.username{
    display: flex;
    align-items: center;
    
    margin-top: 200px;
    margin-left: 250px;

}
.email{
    display: flex;
    align-items: center;
    margin-left: 250px;
    
}
.password{
    display:flex;
    align-items: center;
    margin-left: 250px;
}
.btn{
    margin-left: 300px;

}